@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Montserrat:wght@500&family=Ubuntu:wght@300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0f0f0f, #012714);
}


.calculator{
    border: 1px solid #F8F8F8;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 3px 5px 15px rgba(113,115,119,0.5);
}

.input-box{
    width: 325px;
    border: none;
    background-color: transparent;
    padding: 20px;
    margin: 10px;
    font-size: 40px;
    cursor: pointer;
    color: white;
    text-align: right;
}


.input-box::placeholder{
    color: white;
}
.button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(113,115,119,0.5);
    font: 20px;
    color: white;
    cursor: pointer;
}

.opr{
    font-size: 20px;
}

.button:hover{
    background: linear-gradient(45deg, #161616, #022e18);
}

.operator{
    color: #6dee0a;
}

.equalTo{
    background-color: orangered;
}